# file: requirements.txt
# version: 1.0.1
# guid: e5f6a7b8-c9d0-1234-ef56-789012345678

alembic==1.19.0
annotated-types==0.8.0
anyio==4.14.2
argcomplete==3.7.2
astroid==3.3.11
babelfish==0.6.1
beautifulsoup4==4.15.0
bidict==0.23.1
blessed==1.48.0
blinker==1.9.0
Brotli==1.2.0
cel-python==0.5.0
certifi==2024.12.14
cffi==2.1.1
chardet==5.2.0
charset-normalizer==3.4.9
click==8.4.2
click-option-group==0.5.9
cryptography==48.0.1
decorator==5.3.1
dill==0.4.1
distro==1.9.0
dogpile.cache==1.5.0
dynaconf==3.3.5
editor==1.8.0
enzyme==0.5.2
Flask==3.1.3
Flask-Compress==1.24
Flask-Cors==6.0.5
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.1.1
grpcio==1.83.0
guessit==3.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
inquirer==3.4.1
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
Jinja2==3.1.6
jiter==0.16.0
jmespath==1.1.0
keyring==25.7.0
lark==0.12.0
Mako==1.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
mypy==1.20.2
mypy-extensions==1.1.0
openai==1.109.1
packaging==24.2
pbr==6.1.1
pipx==1.16.6
platformdirs==4.11.1
prettier==0.0.7
protobuf==6.33.6
protovalidate==0.15.0
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.48.0
Pygments==2.20.0
pylint==3.3.9
pysubs2==1.8.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.4
python-socketio==5.16.4
PyYAML==6.0.3
rarfile==4.5
readchar==4.2.2
rebulk==3.2.0
requests==2.34.2
rich==14.3.4
runs==1.3.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.9.2
SQLAlchemy==2.0.51
sqlalchemy-cockroachdb==2.0.4
srt==3.5.3
stevedore==5.9.0
subliminal==2.7.1
tomli==2.4.1
tomlkit==0.15.1
tqdm==4.70.0
types-Flask-Migrate==4.1.0.20260508
types-psycopg2==2.9.21.20260724
types-python-dateutil==2.9.0.20260807
types-PyYAML==6.0.12.20260724
types-requests==2.33.0.20260712
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
userpath==1.9.2
wcwidth==0.8.2
Werkzeug==3.1.8
wsproto==1.3.2
xmod==1.10.0
zstandard==0.25.0
